CONFIG_IDF_TARGET="esp32c3"
CONFIG_TC_BOARD_GENERIC_ESP32=y
CONFIG_TC_UART_TX_GPIO=10
CONFIG_TC_BTN0_GPIO=1
CONFIG_TC_BTN1_GPIO=5
CONFIG_TC_BTN2_GPIO=0
CONFIG_TC_BTN3_GPIO=4
CONFIG_TC_BTN4_GPIO=6
CONFIG_TC_BTN5_GPIO=3
CONFIG_TC_BTN6_GPIO=7
